.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 6rem;
  align-items: center;
  z-index: 1;
  width: 100%;
  background-color: #445f5c;
}
.footer__wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 1rem;
  color: transparent;
  max-width: 100%;
}

.footer__link {
  color: #f4f4f4;
  text-decoration: none;
  padding-top: 2.5rem;
}
.footer__link:hover {
  text-decoration: underline 3px solid #91a39b;
  color: #f4f4f4;
}
@media screen and (max-width: 480px) {
  .footer__link {
    font-size: xx-small;
  }
}

.footnote {
  color: #f4f4f4;
  font-size: x-small;
  text-align: center;
  padding: 1rem;
}
